header {
  display: flex;
  align-items: center;
  background-color: rgb(18, 84, 207);
  position: sticky;
  top: 0;
  height: 15vh;
  width: 100%;
  justify-content: space-around;
}

p, h2, button, form, select, label {
  font-family: 'Poppins', sans-serif;
}

#search-bar {
  display: flex;
}

.product-img {
  height: 120px;
  width: auto;
}

nav {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  align-self: center;
}

.feedback-form-hidden {
  margin-top: 3%;
  display: flex;
  flex-direction: column;
  margin-bottom: 3%;
}

#rating, #review, #feedback-btn {
  width: 20%;
}

.hidden {
  display: none;
}

.product {
  background-color: #C4C4C0;
  padding: 1.5vh;
  border-radius: 10px;
  font-size: 16pt;
  margin: 1.5vh;
}

.history-item {
  background-color: #e6e4e4;
  padding: 0.5vh;
  border-radius: 10px;
  font-size: 10pt;
  margin: 1vh;
}

.feedback {
  background-color: #C4C4C0;
  padding: 1.5vh;
  border-radius: 10px;
  font-size: 11pt;
  margin: 1.5vh;
}

.clothing-item:hover {
  cursor: pointer;
}

.cart {
  background-color: rgb(163, 162, 162);
}

.compact {
  padding: 0.5vh;
  border-radius: 10px;
  font-size: 10pt;
  margin: 1vh;
}

#login > p {
  font-size: 10pt;
}

button, input {
  border-radius: 3px;
}